extends ../layouts/design.pug
block content
 h1 Login User
 if error
   .alert.alert-danger=error
 form(action="/auth/login", method="POST", class="d-flex")
  label(for="email") Email
  input#email(class="form-control ml-2 mr-2", name="email", type="text", value=values ? values.email : "")
  label(for="password") Password
  input#password(class="form-control ml-2 mr-2", name="password", type="password", value=values ? values.password : "")
  button(class="btn btn-outline-danger") Login